.introduction{
    background: url("../images/headerbg.png") repeat scroll 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 4px #444;
    margin: 10px auto;
    padding: 30px;
    width: 940px;
    min-height: 400px;
}

.page-header{
    padding: 24px 0 0;
}

.page-header h1{
    color: #524643;
    font-size: 18px;
    text-transform: uppercase;
}

article.article{
    line-height: 20px;
    margin-top: 20px;
    color: #333;
}