.main-nav{
    background-color: var(--color-medium-green);
    height: 40px;
    line-height: 40px;
}

.main-nav .menu li{
    display: block;
    width: 270px;
    text-align: center;
    float: left;
}

.main-nav .menu li:hover a{
    background: #033801;
}

.main-nav .menu a{
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

.main-nav .sub-menu{
    display: none;
    background-color: var(--color-medium-green);
    position: absolute;
}

.main-nav li:hover .sub-menu{
    display: block;
}

.main-nav .sub-menu li a{
    background: #033801;
    color: #fff;
    display: block;
    line-height: 28px;
    margin-top: 1px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: left;
}

.main-nav .sub-menu li {
    float: none;
    width: 270px;
}

.main-nav .sub-menu li:hover a{
    background-color: var(--color-medium-green);
}